<template id="tpl-text">
  <fieldset>
    <legend>Identificación</legend>
    <table class="inspector-table">
      <tr>
        <td>ID:</td>
        <td><input data-bind="id" disabled /></td>
      </tr>
    </table>
  </fieldset>

  <br>

  <fieldset>
    <legend>Contenido</legend>
    <table class="inspector-table">
      <tr>
        <td class="td-textarea">Texto:</td>
        <td class="td-textarea"><textarea data-bind="text"></textarea></td>
      </tr>
    </table>
  </fieldset>

  <br>

  <fieldset>
    <legend>Posición</legend>
    <table class="inspector-table">
      <tr>
        <td>X:</td>
        <td data-bind="x"></td>
      </tr>
      <tr>
        <td>Y:</td>
        <td data-bind="y"></td>
      </tr>
    </table>
  </fieldset>

  <br>

  <div class="inspector-actions">
    <button data-action="saveAll">Guardar</button>
  </div>

  <span data-bind="error" class="inspector-error"></span>
</template>